altair==5.5.0 ; python_version >= "3.10" and python_version < "3.13"
altgraph==0.17.4 ; python_version >= "3.10" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
asttokens==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
attrs==25.3.0 ; python_version >= "3.10" and python_version < "3.13"
bleach==6.2.0 ; python_version >= "3.10" and python_version < "3.13"
bokeh==3.7.3 ; python_version >= "3.10" and python_version < "3.13"
certifi==2025.8.3 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.4.3 ; python_version >= "3.10" and python_version < "3.13"
click==8.2.1 ; python_version >= "3.10" and python_version < "3.13"
cloudpickle==3.1.1 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and (platform_system == "Windows" or sys_platform == "win32")
contourpy==1.3.2 ; python_version == "3.10"
contourpy==1.3.3 ; python_version >= "3.11" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.13"
dask-expr==1.1.21 ; python_version >= "3.10" and python_version < "3.13"
dask==2024.12.1 ; python_version >= "3.10" and python_version < "3.13"
decorator==5.2.1 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.3.0 ; python_version == "3.10"
executing==2.2.0 ; python_version >= "3.10" and python_version < "3.13"
fonttools==4.59.2 ; python_version >= "3.10" and python_version < "3.13"
fsspec==2025.7.0 ; python_version >= "3.10" and python_version < "3.13"
gurobipy==11.0.3 ; python_version >= "3.10" and python_version < "3.13"
hypothesis==6.138.5 ; python_version >= "3.10" and python_version < "3.13"
idna==3.10 ; python_version >= "3.10" and python_version < "3.13"
importlib-metadata==8.7.0 ; python_version >= "3.10" and python_version < "3.12"
iniconfig==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
ipython==8.37.0 ; python_version >= "3.10" and python_version < "3.13"
jedi==0.19.2 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.13"
jsonschema-specifications==2025.4.1 ; python_version >= "3.10" and python_version < "3.13"
jsonschema==4.25.1 ; python_version >= "3.10" and python_version < "3.13"
kiwisolver==1.4.9 ; python_version >= "3.10" and python_version < "3.13"
linkify-it-py==2.0.3 ; python_version >= "3.10" and python_version < "3.13"
locket==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
macholib==1.16.3 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "darwin"
markdown-it-py==4.0.0 ; python_version >= "3.10" and python_version < "3.13"
markdown==3.8.2 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.13"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_version < "3.13"
matplotlib==3.10.5 ; python_version >= "3.10" and python_version < "3.13"
mdit-py-plugins==0.5.0 ; python_version >= "3.10" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.13"
multimethod==1.10 ; python_version >= "3.10" and python_version < "3.13"
mypy-extensions==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
narwhals==2.2.0 ; python_version >= "3.10" and python_version < "3.13"
networkx==3.4.2 ; python_version == "3.10"
networkx==3.5 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.13"
packaging==25.0 ; python_version >= "3.10" and python_version < "3.13"
pandas==2.3.2 ; python_version >= "3.10" and python_version < "3.13"
pandera==0.18.3 ; python_version >= "3.10" and python_version < "3.13"
panel==1.7.5 ; python_version >= "3.10" and python_version < "3.13"
param==2.2.1 ; python_version >= "3.10" and python_version < "3.13"
parso==0.8.5 ; python_version >= "3.10" and python_version < "3.13"
partd==1.4.2 ; python_version >= "3.10" and python_version < "3.13"
pefile==2023.2.7 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==11.3.0 ; python_version >= "3.10" and python_version < "3.13"
pluggy==1.6.0 ; python_version >= "3.10" and python_version < "3.13"
prompt-toolkit==3.0.52 ; python_version >= "3.10" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.10" and python_version < "3.13"
pyarrow==21.0.0 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.33.2 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.11.7 ; python_version >= "3.10" and python_version < "3.13"
pygments==2.19.2 ; python_version >= "3.10" and python_version < "3.13"
pyinstaller-hooks-contrib==2025.8 ; python_version >= "3.10" and python_version < "3.13"
pyinstaller==6.15.0 ; python_version >= "3.10" and python_version < "3.13"
pyparsing==3.2.3 ; python_version >= "3.10" and python_version < "3.13"
pytest==8.4.1 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.13"
pyviz-comms==3.0.6 ; python_version >= "3.10" and python_version < "3.13"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.13"
referencing==0.36.2 ; python_version >= "3.10" and python_version < "3.13"
requests==2.32.5 ; python_version >= "3.10" and python_version < "3.13"
rpds-py==0.27.1 ; python_version >= "3.10" and python_version < "3.13"
scipy==1.15.3 ; python_version == "3.10"
scipy==1.16.1 ; python_version >= "3.11" and python_version < "3.13"
setuptools==80.9.0 ; python_version >= "3.10" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "3.13"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.13"
tomli==2.2.1 ; python_version == "3.10"
toolz==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
tornado==6.5.2 ; python_version >= "3.10" and python_version < "3.13" and sys_platform != "emscripten"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.13"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "3.13"
typeguard==4.4.4 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
typing-inspection==0.4.1 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.13"
uc-micro-py==1.0.3 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "3.13"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.13"
wrapt==1.17.3 ; python_version >= "3.10" and python_version < "3.13"
xyzservices==2025.4.0 ; python_version >= "3.10" and python_version < "3.13"
zipp==3.23.0 ; python_version >= "3.10" and python_version < "3.12"
-e .
